fastapi
uvicorn[standard]
pydantic
python-multipart
playwright==1.44.0
langchain-core
langchain
langchain-ollama
langchain-openai
langchain-anthropic
langchain-community
langchain-text-splitters
supabase
python-dotenv
